@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.whole-font{
     font-family: 'Poppins', sans-serif;
}
.cover-fit{
     object-fit: cover;
}
.bullets-none{                        /* for li decoration none */
       list-style-type: none;
}
.rounded-9{                            /* for more Radius */
     border-radius: 40px;
}
.shadow-20{
     box-shadow: 15px 10px 20px gray;      /* for highlighted box-shadow */
}